<nav class="navbar">
    <div class="navbar-container">
        <a href="{{ROOT}}index.html" class="navbar-logo">
            <img src="{{ROOT}}picture/OA_logo2.png" alt="OA Logo" class="logo-img">
        </a>
        <div class="navbar-links">
            <div class="nav-dropdown">
                <a href="{{ROOT}}lessons/apcs_advanced/index.html" class="nav-link dropdown-toggle">APCS進階班</a>
                <div class="dropdown-menu">
                    <a href="{{ROOT}}lessons/apcs_advanced/1_maze_recursion/index.html" class="dropdown-link">L1 遞迴函式</a>
                    <a href="{{ROOT}}lessons/apcs_advanced/2_time_space_complexity/index.html" class="dropdown-link">L2 複雜度</a>
                    <a href="{{ROOT}}lessons/apcs_advanced/3_enumeration_traversal/index.html" class="dropdown-link">L3 枚舉與遍歷</a>
                    <a href="{{ROOT}}lessons/apcs_advanced/4_2d_array_applications/index.html" class="dropdown-link">L4 二維串列應用</a>
                    <a href="{{ROOT}}lessons/apcs_advanced/5_binary_tree/index.html" class="dropdown-link">L5 二元樹與樹走訪</a>
                    <a href="{{ROOT}}lessons/apcs_advanced/6_graph_search/index.html" class="dropdown-link">L6 圖形搜索方法</a>
                    <a href="{{ROOT}}lessons/apcs_advanced/7_greedy_algorithm/index.html" class="dropdown-link">L7 貪心演算法</a>
                    <a href="{{ROOT}}lessons/apcs_advanced/8_dynamic_programming_1/index.html" class="dropdown-link">L8 動態規劃 (1)</a>
                    <a href="{{ROOT}}lessons/apcs_advanced/9_dynamic_programming_2/index.html" class="dropdown-link">L9 動態規劃 (2)</a>
                </div>
            </div>
            <div class="nav-dropdown">
                <a href="{{ROOT}}lessons/learning_resources/index.html" class="nav-link dropdown-toggle">學習資源</a>
                <div class="dropdown-menu">
                    <div class="dropdown-section">
                        <h4>基礎演算法</h4>
                        <a href="{{ROOT}}lessons/learning_resources/1_sorting/index.html" class="dropdown-link">排序演算法</a>
                        <a href="{{ROOT}}lessons/learning_resources/2_2d_linked_list/index.html" class="dropdown-link">二維鏈表</a>
                        <a href="{{ROOT}}lessons/learning_resources/3_divide_and_conquer/index.html" class="dropdown-link">分治演算法</a>
                        <a href="{{ROOT}}lessons/learning_resources/4_coin_change/index.html" class="dropdown-link">動態規劃</a>
                        <a href="{{ROOT}}lessons/learning_resources/5_graph_theory/index.html" class="dropdown-link">圖論基礎</a>
                        <a href="{{ROOT}}lessons/learning_resources/6_shortest_path/index.html" class="dropdown-link">最短路徑</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>