<nav class="navbar">
    <div class="navbar-container">
        <a href="../index.html" class="navbar-logo">
            <img src="../picture/OA_logo2.png" alt="OA Logo" class="logo-img">
        </a>
        <div class="navbar-links">
            <div class="nav-dropdown">
                <a href="../lessons/apcs_advanced/index.html" class="nav-link">APCS進階班</a>
                <div class="dropdown-menu">
                    <a href="../lessons/apcs_advanced/1_maze_recursion/index.html" class="dropdown-link">遞迴函式</a>
                </div>
            </div>
            <div class="nav-dropdown">
                <a href="../lessons/learning_resources/index.html" class="nav-link">學習資源</a>
                <div class="dropdown-menu">
                    <a href="../lessons/learning_resources/1_sorting/index.html" class="dropdown-link">排序演算法</a>
                    <a href="../lessons/learning_resources/2_2d_linked_list/index.html" class="dropdown-link">二維鏈表</a>
                </div>
            </div>
        </div>
    </div>
</nav>