<nav class="navbar">
    <div class="navbar-container">
        <a href="/AlgoVisu/index.html" class="navbar-logo">
            <img src="/AlgoVisu/picture/OA_logo2.png" alt="OA Logo" class="logo-img">
        </a>
        <div class="navbar-links">
            <div class="nav-dropdown">
                <a href="/AlgoVisu/lessons/apcs_advanced/index.html" class="nav-link">APCS進階班</a>
                <div class="dropdown-menu">
                    <a href="/AlgoVisu/lessons/apcs_advanced/1_maze_recursion/index.html" class="dropdown-link">遞迴函式</a>
                </div>
            </div>
            <div class="nav-dropdown">
                <a href="/AlgoVisu/lessons/learning_resources/index.html" class="nav-link">學習資源</a>
                <div class="dropdown-menu">
                    <div class="dropdown-section">
                        <h4>基礎演算法</h4>
                        <a href="/AlgoVisu/lessons/learning_resources/1_sorting/index.html" class="dropdown-link">排序演算法</a>
                        <a href="/AlgoVisu/lessons/learning_resources/2_2d_linked_list/index.html" class="dropdown-link">二維鏈表</a>
                        <a href="/AlgoVisu/lessons/learning_resources/3_divide_and_conquer/index.html" class="dropdown-link">分治演算法</a>
                        <a href="/AlgoVisu/lessons/learning_resources/4_coin_change/index.html" class="dropdown-link">動態規劃</a>
                        <a href="/AlgoVisu/lessons/learning_resources/5_graph_theory/index.html" class="dropdown-link">圖論基礎</a>
                        <a href="/AlgoVisu/lessons/learning_resources/6_shortest_path/index.html" class="dropdown-link">最短路徑</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>